// ------------------------
// ++ SECTION 2
// ------------------------

.section2 {
  background: #000;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  .fp-tableCell {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

  }

  &-cont {
    @include flexbox;
    @include justify-content(center);
    padding: 9.375vw 0;

    // <반응형> 태블릿
    @include res--tablet {
      display: block;
    }

    // <반응형> 좁은 화면
    @include res--mobile {
      width: 100vw;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-text {
    font-size: 4.4vw;
    color: #fff;
    line-height: 1;
    @include font-sub;

    // <반응형> 태블릿
    @include res--tablet {
      font-size: 5.3vw;
    }

    // <반응형> 좁은 화면
    @include res--mobile {
      font-size: 5.8vw;
    }

    .textLine {
      margin-bottom: 4.4vw;
      // +++++ GSAP 애니메이션용 +++++
      opacity: 0;
      position: relative;
      transform: scale(0.8) translateX(-300px);

      // <반응형> 풀화면
      @include res--full {
        margin-bottom: 3.8vw;
      }

      &:last-child {
        margin-bottom: 0;
      }

      // <반응형> 태블릿
      @include res--tablet {
        margin-bottom: 5.8vw;
      }
    }
  }

}

.smallLogo {
  opacity: 0;
  width: 6.8750vw; //132
  height: 3.2291vw; //62
  margin-top: 0.6vw;
  margin-right: 12.1875vw;

  img {
    display: block;
    width: 100%;
  }

  // <반응형> 태블릿
  @include res--tablet {
    margin-bottom: 14vw;
    width: 15.625VW; //300
    height: 7.34375VW; //141
  }

  // <반응형> 모바일
  @include res--mobile {
    margin-bottom: 14vw;
    width: 19.791666666666664VW; //380
    height: 9.322916666666666VW; //179
  }
}

.accent-red {
  position: relative;
  z-index: 1;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include bgi("accent-red");
  background-repeat: round;
}

.accent-yellow {
  position: relative;
  z-index: 1;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include bgi("accent-yellow");
  padding-bottom: 0.4vw;
  background-repeat: round;
}


// // IE 대응
// html[data-agent*="Trident"] {
//   .accent-red {
//     color: #ff3737;
//   }

//   .accent-yellow {
//     color: #efe449;
//   }

// }