// ------------------------
// ++ SECTION 01
// ------------------------

.section1 {
  display: none;
  background: #000;

  .fp-tableCell {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}

.titleLogo {
  width: 461px;
  height: 373px;
  //---
  background: red;
}