// ------------------------
// ++ SECTION 01
// ------------------------

.section1 {
  background: #000;
  background: #fafafa;

  .fp-tableCell {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}

.titleLogo {
  position: relative;
  width: 23.1770vw; //445
  height: 17.7083vw; //340

  // <반응형> 데스크탑
  @include res--desktop {
    width: 31.25vw;
    height: 23.854166666666668vw;
  }

  // <반응형> 랩탑
  @include res--laptop {
    width: 37.5VW;
    height: 28.645833333333332VW;
  }

  // <반응형> 모바일
  @include res--laptop {
    width: 41.66666666666667VW;
    height: 31.822916666666668VW;
  }
}



.eye-blink {
  transform-origin: 0 0;
  animation: eyeBlink 4s infinite;
  animation-delay: 1s;
}

.eye-wink {
  animation: eyeWink 0.4s forwards;
  animation-delay: 1.1s;
}

.logo--path {
  position: absolute;
}