// ------------------------
// ++ MEDIA QUERIES
// ------------------------

// Break Point
$full-width: 1920px;
$desktop-width : 1800px;
$laptop-width : 980px;
$tablet-width: 769px;
$mobile-width: 640px;
$mobile-sm-width: 375px;


$laptop-height: 1000px;


@mixin res--laptop-height {
  @media screen and (max-height: #{$laptop-height}) {
    @content;
  }
}

// Full
@mixin res--full {
  @media screen and (min-width: #{$full-width}) {
    @content;
  }
}


// Desktop
@mixin res--desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

// Laptop
@mixin res--laptop {
  @media screen and (max-width: #{$laptop-width}) {
    @content;
  }
}

// Tablet
@mixin res--tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

// Mobile
@mixin res--mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

// Mobile (Small)
@mixin res--mobile-sm {
  @media screen and (max-width: #{$mobile-sm-width}) {
    @content;
  }
}