// ------------------------
// ++ MEDIA QUERIES
// ------------------------

// Break Point
$full-width: 1800px;
$wide-width : 1780px;
$desktop-width : 1500px;
$laptop-width : 1200px;
$small-width : 980px;
$tablet-width: 769px;
$mobile-width: 640px;
$mobile-sm-width: 375px;


$high-height: 1200px;
$low-height: 640px;
$middle-height: 800px;




@mixin res--full {
  @media screen and (min-width: #{$full-width}) {
    @content;
  }
}

// Desktop
@mixin res--wide {
  @media screen and (max-width: #{$wide-width}) {
    @content;
  }
}

// Desktop
@mixin res--small {
  @media screen and (max-width: #{$small-width}) {
    @content;
  }
}

// Desktop
@mixin res--desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

// Laptop
@mixin res--laptop {
  @media screen and (max-width: #{$laptop-width}) {
    @content;
  }
}

// Tablet
@mixin res--tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

// Mobile
@mixin res--mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

// Max Height
@mixin res--highHight {
  @media screen and (min-height: #{$high-height}) {
    @content;
  }
}

// Low Height
@mixin res--middleHeight {
  @media screen and (max-height: #{$middle-height}) {
    @content;
  }
}

// Low Height
@mixin res--lowHeight {
  @media screen and (max-height: #{$low-height}) {
    @content;
  }
}