// ------------------------
// ++ COMMON
// ------------------------

.hide {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.textLine {
  display: block;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}